{% set _selected = selected if selected is defined else '' %}
{% set _placeholder = placeholder if placeholder is defined else 'اختر المخزن أو الحساب' %}
{% set _required = required if required is defined else false %}
{% set _extra = extra_class if extra_class is defined else '' %}
{% set _groups = groups if groups is defined else warehouse_groups %}
{% set ns = namespace(found=false) %}
<select class="form-select js-searchable-select {{ _extra }}" name="{{ name }}" data-allow-custom="1" data-placeholder="{{ _placeholder }}"{% if _required %} required{% endif %}>
  <option value="">{{ _placeholder }}</option>
  {% for group_label, items in _groups %}
    {% if items %}
    <optgroup label="{{ group_label }}">
      {% for item in items %}
        {% if item.value == _selected %}{% set ns.found = true %}{% endif %}
        <option value="{{ item.value }}" {% if _selected == item.value %}selected{% endif %}>{{ item.label }}</option>
      {% endfor %}
    </optgroup>
    {% endif %}
  {% endfor %}
  {% if _selected and not ns.found %}
    <option value="{{ _selected }}" selected>{{ _selected }}</option>
  {% endif %}
</select>
